[client]
port = 3306
socket=/var/run/mysql56/mysqld.sock

[mysqld]
port = 3306
socket=/var/run/mysql56/mysqld.sock
datadir=/var/lib/mysql56
#禁用dns解析;但是 这样不能在mysql的授权表中使用主机名了;只能使用IP
skip-name-resolve
symbolic-links=0

[as slave]
slave_net_timeout=30



# Version 5.5.3 introduced "utf8mb4", which is recommended  # from symfony2
collation-server     = utf8mb4_general_ci # Replaces utf8_general_ci
character-set-server = utf8mb4            # Replaces utf8

##########copy from web 
#Performance
net_read_timeout = 60
wait_timeout = 100
interactive_timeout = 3600
open_files_limit = 10240
back_log = 150
max_connections = 256
max_connect_errors = 1000
external-locking = FALSE
#performance_schema = 0
performance_schema_max_table_instances=600

skip-external-locking
key_buffer_size = 128M
max_allowed_packet = 1M
table_open_cache = 256
sort_buffer_size = 1M
read_buffer_size = 1M
read_rnd_buffer_size = 4M
myisam_sort_buffer_size = 64M
thread_cache_size = 8
query_cache_size= 16M
# Try number of CPU's*2 for thread_concurrency
thread_concurrency = 8

# Replication Master Server (default)
# binary logging is required for replication
log-bin=mysql-bin

# binary logging format - mixed recommended
binlog_format=mixed

# required unique id between 1 and 2^32 - 1
# defaults to 1 if master-host is not set
# but will not function as a master if omitted
server-id	= 1


[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates

[myisamchk]
key_buffer_size = 128M
sort_buffer_size = 128M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout

############copy end

[mysqld_safe]
log-error=/var/log/mysql56/mysqld-err.log
#pid-file=/var/lib/mysql56/aboutc.pid
slow_query_log=1
slow-query-log-file=/var/log/mysql56/mysql-slow.log
long_query_time = 2
log-queries-not-using-indexes = 1
log-slow-admin-statements = 1
log-slow-slave-statements = 1
